body {
  background-color: #25274d;
}

form {
  margin-left: 20px;
  color: #aaabb8;
}

h1, h2, h3, h4, h5, h6 {
  color: #aaabb8;
  margin-left: 20px;
  font-family: "Courier New", monospace;
}

input[type=text] {
  background-color: #25274d;
  color: #aaabb8;
  width: 26%;
}

input[type=submit] {
  background-color: #25274d;
  color: #aaabb8;
  width: 10%;
}